<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Marcel Oomens, itinerant technologist</title>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<link href="/dist/toolkit-bold.min.css" rel="stylesheet">
<style>
  .block-fill-height {
    height: 100vh;
  }
  .block-foreground>.container {
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .text-ribbon {
    line-height: 1.65;
  }
  #background-map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
  }
  #blogroll {
    padding-top: 0.75rem;
  }
  #blogroll .col-6 {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #blogroll .card-text, #blogroll .card-title {
    font-size: 0.95rem;
    overflow: hidden;
    overflow-wrap: normal;
    text-overflow: ellipsis;
  }
  #blogroll .card-title {
    font-size: 1.05rem;
  }
</style>
